#profileHeading{
        /* The image used */
  background-image: linear-gradient(rgba(255, 255, 255, 0.048), rgba(255, 255, 255, 0.014)), url("/support/images/back1.jpg");

  /* Full height */
  /* height: 100%; */
  height: 30%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reports{
  margin-bottom: 20px;
}
